<!doctype html>
<html>
<head>

<title>Movie Man</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


<link rel="stylesheet" type="text/css" href="static/dt/media/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="static/dt/extensions/FixedHeader/css/fixedHeader.dataTables.min.css">

<script type="text/javascript" src="static/dt/media/js/jquery.js"></script> 
<script type="text/javascript" charset="utf8" src="static/dt/media/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="static/dt/extensions/FixedHeader/js/dataTables.fixedHeader.min.js"></script>


<style type="text/css">
table.dataTable thead th,
table.dataTable thead td {
  padding: 1px;  
}


table.dataTable thead th.ll_sort,
table.dataTable thead td.ll_sort {
  padding: 1px 18px 1px 1px;  
}

table.dataTable tbody th,
table.dataTable tbody td {
  padding: 1px;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #000;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #000;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #000;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #000;
}

</style>


<script type="text/javascript" language="javascript" class="init">
  

  $.fn.dataTable.ext.search.push(
    function( settings, data, dataIndex ) {
      var min_db_rating = parseInt( $('#min_db_rating').val(), 10 );
      var max_db_rating = parseInt( $('#max_db_rating').val(), 10 );
      var val_db_rating = parseFloat( data[3] ) || 0; // use data for the age column


      var min_mi_duration = parseInt( $('#min_mi_duration').val(), 10 );
      var max_mi_duration = parseInt( $('#max_mi_duration').val(), 10 );
      var val_mi_duration = parseFloat( data[4] ) || 0; // use data for the age column

      var min_db_year = parseInt( $('#min_db_year').val(), 10 );
      var max_db_year = parseInt( $('#max_db_year').val(), 10 );
      var val_db_year = parseFloat( data[8] ) || 0; // use data for the age column

      if (
           ( 
             ( isNaN( min_db_rating ) && isNaN( max_db_rating ) ) ||
             ( isNaN( min_db_rating ) && val_db_rating <= max_db_rating )   ||
             ( min_db_rating <= val_db_rating   && isNaN( max_db_rating ) ) ||
             ( min_db_rating <= val_db_rating   && val_db_rating <= max_db_rating ) 
           ) &&
           ( 
             ( isNaN( min_mi_duration ) && isNaN( max_mi_duration ) ) ||
             ( isNaN( min_mi_duration ) && val_mi_duration <= max_mi_duration )   ||
             ( min_mi_duration <= val_mi_duration   && isNaN( max_mi_duration ) ) ||
             ( min_mi_duration <= val_mi_duration   && val_mi_duration <= max_mi_duration ) 
           ) &&
           ( 
             ( isNaN( min_db_year ) && isNaN( max_db_year ) ) ||
             ( isNaN( min_db_year ) && val_db_year <= max_db_year )   ||
             ( min_db_year <= val_db_year   && isNaN( max_db_year ) ) ||
             ( min_db_year <= val_db_year   && val_db_year <= max_db_year ) 
           ) 
         )

      {
        return true;
      }
      return false;
    }
  );

  $(document).ready(function() {

    //$(".dataframe").addClass("display compact");
    var table =$('.dataframe').DataTable(

        {
          fixedHeader: true,
          "paging": false,
          //"ordering": false,
          "dom": 'lrtip',
          //"autoWidth": true,
          
          "columnDefs": [ 
            {
              "targets": [ 0 ],
              "visible": false,
              "searchable": false
            },
            {
              "targets": [ 1,2,5,6,7,9 ],
              "orderable": false, 
            }

          ],
          initComplete: function () {
            this.api().columns([5,6,7]).every( function () {
              var column = this;
              console.log(typeof((column.index())));
              if (column.index() == [5]){
                title = '国家'
                console.log($(column.index()));
              } else if (column.index() == 6){
                title = '题材'
              } else if (column.index() == 7){
                title = '类型'
              }   
              
              //console.log($(column.header()));
              var select = $('<select><option value="">' + title + '</option></select>')
                .appendTo( $(column.header()).empty() )
                .on( 'change', function () {
                  var val = $.fn.dataTable.util.escapeRegex(
                    $(this).val()
                  );

                  column
                    .search( val )
                    //.search( val ? '^'+val+'$' : '', true, false )
                    .draw();
                } );

              n=[]; 
              column.data().unique().sort().each( function ( d, j ) {
                //console.log(d,d.search(/'/));  

                if (d.search(/'/)>0){
                  //console.log(f,typeof(f));  
                  eval(d.toString()).forEach(function(e) {  
                       if(n.indexOf(e) == -1) n.push(e);
                  }) 
                
                } else {

                  if(n.indexOf(d) == -1) n.push(d);

                }



                
              } );

              eval(n).forEach(function(e){  
                    select.append( '<option value="'+e+'">'+e+'</option>' ) 
                  }) ;
            } );
          }


      } );

/*
1.summary \n
2.db_images筛选大小，先换标题
3.后台线程，&共享
4.关机/休眠 重启，自动运行，单实例


eval("("+"tv"+")"); 
eval("("+"['中国大陆', '美国']"+")"); 
"['中国大陆', '美国']".search(/,/)
d="['中国大陆', '美国']";
f="['中国大陆', '美国', '美国2']";
n=[];
eval(d).forEach(function(e){  
    //alert(e);  
     if(n.indexOf(e) == -1) n.push(e);
     alert(n);  
})  
eval(f).forEach(function(e){  
    //alert(e);  
     if(n.indexOf(e) == -1) n.push(e);
     alert(n);  
})  */


  $('.dataframe thead th').each( function () {
    var title = $(this).text();
    if (title == 'db_rating') {
        $(this).addClass("ll_sort");
        $(this).html( '<input style="width:100%;height:50%;box-sizing: border-box;-webkit-box-sizing:border-box;-moz-box-sizing: border-box;" class="db_range" type="text" id="min_db_rating" placeholder="Min '+"评分"+'" /> <input style="width:100%;height:50%;box-sizing: border-box;-webkit-box-sizing:border-box;-moz-box-sizing: border-box;" class="db_range" type="text" id="max_db_rating" placeholder="Max '+"评分"+'" />' );
    } else if (title == 'mi_duration'){
        $(this).addClass("ll_sort");
        $(this).html( '<input style="width:100%;height:50%;box-sizing: border-box;-webkit-box-sizing:border-box;-moz-box-sizing: border-box;" class="db_range" type="text" id="min_mi_duration"  placeholder="Min '+"时长"+'" /> <input style="width:100%;height:50%;box-sizing: border-box;-webkit-box-sizing:border-box;-moz-box-sizing: border-box;"  class="db_range" type="text" id="max_mi_duration" placeholder="Max '+"时长"+'" />' );
    } else if(title == 'db_year') {
        $(this).addClass("ll_sort");
        $(this).html( '<input style="width:100%;height:50%;box-sizing: border-box;-webkit-box-sizing:border-box;-moz-box-sizing: border-box;"  class="db_range" type="text" id="min_db_year" placeholder="Min '+"年份"+'" /> <input style="width:100%;height:50%;box-sizing: border-box;-webkit-box-sizing:border-box;-moz-box-sizing: border-box;"   class="db_range" type="text" id="max_db_year" placeholder="Max '+"年份"+'" />' );
    } else if(title == 'db_title') {
        $(this).html( '<input style="width:100%;height:100%;box-sizing: border-box;-webkit-box-sizing:border-box;-moz-box-sizing: border-box;" type="text" placeholder="'+"标题"+'" />' );
    } else if(title == 'db_summary') {
        $(this).html( '<input style="width:100%;height:100%;box-sizing: border-box;-webkit-box-sizing:border-box;-moz-box-sizing: border-box;" type="text" placeholder="'+"摘要"+'" />' );
    } else if(title == 'db_images') {
        $(this).html( '海报' );
    } 
  } );


  //$('.dataframe thead th').attr('width', '5%');

  $('.db_range').keyup( function() {
    table.draw();
  } );



  table.columns([1,2,5,6,7]).every( function () {
    var that = this;

    $( 'input', this.header() ).on( 'keyup change', function () {
      if ( that.search() !== this.value ) {
        that
          .search( this.value )
          .draw();
      }
    } );
  } );






    $('a.toggle-vis').on( 'click', function (e) {
    e.preventDefault();

    // Get the column API object
    var column = table.column( $(this).attr('data-column') );

    // Toggle the visibility
    column.visible( ! column.visible() );
  } );



//$(".dataframe").removeClass("dataTable no-footer fixedHeader-floating");



  } );
</script>

                                    


</head>

<body  class="dt-example">
  <div class="container">
    <section>



      <!--
      <div>
        Toggle column: 
        <a class="toggle-vis" data-column="0">Index</a> -
        <a class="toggle-vis" data-column="7">MovieTv</a> - 
        <a class="toggle-vis" data-column="9">Summary</a> 
      </div>
      -->

{{ table|safe }}


    </div>
  </section>
</body>



</html>


