<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


<link rel="stylesheet" type="text/css" href="static/dt/media/css/jquery.dataTables.css">

<script type="text/javascript" src="static/dt/media/js/jquery.js"></script> 
<script type="text/javascript" charset="utf8" src="static/dt/media/js/jquery.dataTables.js"></script>
<script type="text/javascript" language="javascript" class="init">
  $(document).ready(function() {
    $('.dataframe').DataTable(

        {
          "paging": false,
          "columnDefs": [ 
            {
              "targets": [ 0 ],
              "visible": false,
              "searchable": false
            },
            {
              "targets": [ 7 ],
              "visible": false
            },
            {
              "targets": [ 9 ],
              "visible": false
            }

          ]
        } 

      );
  } );
</script>

                                    


</head>


<body style="position: static;">



</body>

</html>

